*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(135deg,#0f172a,#020617);
  color:#e5e7eb;
}

.container{
  background:#020617;
  padding:40px 35px;
  border-radius:20px;
  width:360px;
  text-align:center;
  box-shadow:0 25px 60px rgba(0,0,0,0.5);
}

.container h1{
  margin-bottom:20px;
  color:#38bdf8;
}

.time{
  font-size:3rem;
  margin:25px 0;
}

.buttons{
  display:flex;
  gap:15px;
  margin-bottom:20px;
}

button{
  flex:1;
  padding:12px 0;
  border:none;
  border-radius:30px;
  cursor:pointer;
  transition:0.3s;
}

.start{background:#22c55e;}
.pause{background:#facc15;}
.reset{background:#ef4444;}

button:hover{
  transform:translateY(-3px);
}

.lap-btn{
  width:100%;
  margin-top:10px;
  background:#38bdf8;
}

.laps{
  max-height:150px;
  overflow-y:auto;
  margin-top:10px;
}

.laps li{
  list-style:none;
  padding:8px;
  background:#0f172a;
  border-radius:10px;
  margin-bottom:6px;
}

@media(max-width:400px){
  .container{width:90%;}
}
